div[role='menu'] > div {
  display: flex;
  height: 64px;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(white, 0.25);
  overflow-x: hidden;
  &:last-child {
    border-bottom-color: transparent;
  }
}

span.menu-item {
  width: 100%;
}

.map-setting-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & hr {
    border-bottom: 1px solid transparent !important;
  }
}

.map-settings.list {
  width: 100%;
  height: 100%;
}

.tw-settings.page {
  h2 {
    width: 100%;
    box-sizing: border-box;
    padding: 0 32px;
  }
}
