$headerHeight: 64px;
$footerHeight: 64px;
$contentItemHeight: 48px;

.event-details-page {
  .event-details-body {
    width: 100%;
    height: calc(100% - #{$headerHeight + $footerHeight});
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .detail-field {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 8px 16px;
      white-space: pre-wrap;
      box-sizing: border-box;
    }

    .event__title {
      $fs: 20px;
      font-size: $fs;
      line-height: 2 * $fs;
    }

    .event__address,
    .event__dates {
      $fs: 14px;
      font-size: $fs;
      line-height: 2 * $fs;
      min-height: 2 * $fs;
      // overflow-x: hidden;
    }

    .event__comment {
      padding: 16px 24px;
      flex-grow: 1;
      overflow-y: auto;
    }

    .event__organization {
      align-items: center;
      flex-direction: row;

      span {
        margin: 0 4px;

        &.event__organization-avatar {
          margin: 0 8px 0 0;
        }
      }
    }

    .event__comment,
    .event__dates,
    .event__extensiondata,
    .event__organization {
      border-bottom: 1px solid;
    }

    .event__extensiondata {
      display: block;
      width: 100%;
      padding: 0 8px;

      .extdata-list {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .extdata-list-item {
          width: 100%;
          max-width: 420px;
          min-height: $contentItemHeight;
          max-height: $contentItemHeight;
          height: $contentItemHeight;
          box-sizing: border-box;

          .extdata-label {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            border-bottom: 1px solid rgba(255,255,255, 0.2);
            box-sizing: border-box;
            top: 0;
            position: absolute;
            right: 0;
            height: $contentItemHeight;
            width: calc(100% - 72px);
            max-width: 400px;
            padding: 0 8px 0 0;
            font-weight: 300;

            span {
              height: $contentItemHeight;
              line-height: $contentItemHeight;
            }
          }
        }
      }
    }

  }

  .event__organization-avatar {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    // Fallback logo
    background-color: white;
    background-image: url("~assets/logo/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .event-details-footer {
    width: 100%;
    height: $footerHeight;
    position: absolute;
    bottom: 0;
  }
}
