.fade-appear,
.fade-enter {
  opacity: .01;
}

.fade-appear.fade-appear-active,
.fade-enter.fade-enter-active {
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

.fade-exit {
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

.fade-exit.fade-exit-active {
  transition: opacity 300ms ease-in-out;
  opacity: .01;
}

/* In transitions */

.slideUpIn-appear,
.slideDownIn-appear,
.slideLeftIn-appear,
.slideRightIn-appear {
  opacity: .01;
  transition: opacity 200ms linear;
}

.slideUpIn-appear-active,
.slideDownIn-appear-active,
.slideLeftIn-appear-active,
.slideRightIn-appear-active {
  opacity: 1;
  transition: opacity 200ms linear;
}

.slideLeftIn-enter {
  opacity: 1;
  transform: translateX(-100%);
  transition: transform 200ms linear;
}

.slideLeftIn-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 200ms linear;
}

.slideRightIn-enter {
  opacity: 1;
  transform: translateX(-100%);
  transition: transform 200ms linear;
}

.slideRightIn-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 200ms linear;
}

.slideUpIn-enter {
  opacity: 1;
  transform: translateY(-100%);
  transition: transform 200ms linear;
}

.slideUpIn-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 200ms linear;
}

.slideDownIn-enter {
  opacity: 1;
  transform: translateY(100%);
  transition: transform 200ms linear;
}

.slideDownIn-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 200ms linear;
}

/* Out transitions */

.slideLeftOut-exit {
  opacity: 1;
  transform: translateX(0%);
  transition: all 200ms linear;
}

.slideLeftOut-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 200ms linear;
}

.slideRightOut-exit {
  opacity: 1;
  transform: translateX(0%);
  transition: all 200ms linear;
}

.slideRightOut-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 200ms linear;
}

.slideDownOut-exit {
  opacity: 1;
  transform: translateY(0%);
  transition: all 200ms linear;
}

.slideDownOut-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 200ms linear;
}

.slideUpOut-exit {
  opacity: 1;
  transform: translateY(0%);
  transition: all 200ms linear;
}

.slideUpOut-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 200ms linear;
}

