$ctrlWidth: 24px;

.content-type-chip,
.hazard-chip {
  height: 24px;

  .content-type-chip-label,
  .hazard-label {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.emcomm-status,
.reportrequest-status {
  margin: 0 8px;
  display: inline-block;
  $size: 8px;
  height: $size;
  width: $size;
  border-radius: 100%;
  box-sizing: border-box;
}

.emcomm-card__info,
.emcomm-details-title {
  display: flex;
  flex-direction: row;

  .emcomm-language {
    margin-left: 8px;

    .flag-icon {
      border-radius: 100%;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-size: cover;
    }
  }

  .language-chip {
    height: 24px;
    margin-left: 8px;
    .emcomm-language {
      margin-left: 0px;
    }

    .content-type-chip-label,
    .language-label {
      line-height: 24px;
      // text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.emcomm-card {
  display: flex;
  width: 100%;
  height: 100%;
  .emcomm-card__content {
    width: calc(100% - #{$ctrlWidth + 16px});
    height: calc(100% - 16px);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    $lineSize: 18px;
    .emcomm-card__info {
      width: 100%;
    }

    .emcomm-card__emcdesc {
      display: flex;
      height: $lineSize;
      align-items: center;
      // text-transform: uppercase;
    }

    .emcomm-card__emclevel {
      width: $lineSize;
      height: $lineSize;
      margin-right: 4px;
      margin-left: 2px;
    }

    // .emcomm-card__emctype {
    //   text-transform: uppercase;
    // }

    .emcomm-card__title {
      font-size: 20px;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .emcomm-card__address {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .emcomm-card__dates,
    .emcomm-card__organization {
      font-size: 12px;
    }
  }

  .emcomm-card__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    padding: 8px;
  }
}
// .emcomm-card {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: row;
//   $ctrlWidth: 48px;

//   .emcomm-card__content {
//     width: calc(100% - #{$ctrlWidth + 16px});
//     height: calc(100% - 16px);
//     padding: 8px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;

//     .emcomm-card__title {
//       font-size: 20px;
//       text-transform: uppercase;
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       justify-content: flex-start;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }

//     .emcomm-card__address {
//       font-size: 12px;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }

//     .emcomm-card__dates {
//       font-size: 12px;
//     }
//   }

//   .emcomm-card__controls {
//     width: $ctrlWidth;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//   }
// }

.level {
  $size: 16px;
  height: $size;
  margin: 0 4px;

  &.warning {
    width: 3 * ($size + 2px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .box {
      width: $size;
      height: $size;
      border: 2px solid;
      box-sizing: border-box;
    }
  }

  &.alert {
    width: 3 * $size;
  }
}

.reportrequest-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .category-icon {
    margin: 0 4px;
  }

  .content-type-chip {
    margin-right: 8px;
  }
}

// .emcomm-list-item {
//   width: 100%;
//   height: 30%;
//   margin-bottom: 4px;

//   .emcomm-card {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

.emcomm-list-filters,
.emcomm-list-header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.emcomm-list-filters {
  justify-content: space-around;
}

// .emcomm-list-header {
//   justify-content: space-between;
// }

.emcomm-list-filters {
  .filter-cbx-label {
    position: relative;
    z-index: 10;
    left: -12px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.emcomm-list-header {
  .events-list-header__item {
    margin: 0 4px;
  }
}
