$padding: 4px;
$avatarWidth: 100px;
$itemHeight: 100px;
@mixin lightBordered() {
  border-top: 1px solid rgba(255,255,255,0.25);
  border-bottom: 1px solid rgba(255,255,255,0.25);
  box-sizing: border-box;
}

.reports-list-filters,
.reports-list-header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reports-list-filters {
  justify-content: space-around;
}

// .reports-list-header {
//   justify-content: space-between;
// }

.refresh-container {
  $refresherHeight: 40px;
  pointer-events: none;
  background-color: transparent;

  position: absolute;
  width: 100%;
  height: $refresherHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .refresh-container-inner {
    background-color: transparent;
    position: relative;
    width: $refresherHeight;
    height: 100%;
  }
}

.reports-list-filters {
  .filter-cbx-label {
    position: relative;
    z-index: 10;
    left: -12px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.reports-list-header {
  .reports-list-header__item {
    margin: 0 4px;
  }
}

.reports-list-element {
  .report-list-item {
    height: $itemHeight;
    width: 100%;
    margin-bottom: 4px;
  }

  .small-report-card {
    .report-popup-info,
    .report-popup-thumbnail {
      margin: 0;
    }
  }

  .role-color-dot {
    margin: auto 0 2px;
  }
}
